*{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.container p{
    font-size: 35px;
    color: #3E606F;
    
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 0px solid red;
    /* to make left and right sides near each other */
    margin: 11rem 20rem;
    transition: 0.5s;
    
}

.container a{ 
    text-decoration: none;
    border-radius: 15%;
    background-color: #EFF4F4;
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container a:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}



 footer i{
     margin-top: 30px;
     margin-left: 20px;
     margin-right: 20px;
     font-size: 30px;
     color: #193441;
     
 }

 footer i:hover{
     color: #EFF4F4;
 }


 footer{
    background-color: #3E606F;
    height: 110px;
    border: 0px solid green;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}




footer p{
    color: #EFF4F4;
    margin-top: 25px;
    align-self: flex-end;
}



body{
    margin: 0;
    padding: 0;
    background-color: #EFF4F4;
}

nav{
    margin-right: 3rem;
}

nav ul{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    margin: 1rem 30rem 0 30rem;
    padding-bottom: 0.5rem;

}
nav li{
    list-style-type: none;
    margin: 0 3rem;
    color: #3E606F;
    transition: 0.6s;
}

nav li:hover{
    text-shadow:
    0 1px 0px #193441,
    1px 0 0px #193441;
    transition: 0.6s;
}

nav a{
    text-decoration: none;

}

nav a:visited{
    color: #3E606F;
}

#swiper-container{
    height: 35rem;
    width: 32.6rem;
    visibility: hidden;
    transition: 0.5s;
    border: 0px solid red;
    margin: 0; 
    top: 0;  
}

#swiper-wrapper{
    transition: 0.5;
}

.slider-container{
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 30.2rem;
    visibility: hidden;
    
    
}

img{
    height: 32rem;
    width: 34rem;
}


/* MEDIA SECTION */


/* 1366 x 768 screen */
@media (min-width: 1300px) and (max-width: 1366px){
    #slider-container{
        left: 25rem;
        
    }
    #swiper-container{
        height: 37rem;
    }

    img{
        height: 35rem;
    }

    nav ul{
        margin-left: 24.8rem;
        margin-right: 24.65rem;
    }
    
}



/* 1920 x 1080 screens */
@media (min-width: 1900px) and (max-width:1920px){
    .container{
        margin: 4rem 20rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        border: 0px solid red;
    }

    .container a{
        height: 300px;
        width: 300px;
        border-width: 3px;
    }

    nav a{
        font-size: 1.5rem;
    }

    .container p{
        font-size: 3rem;
    }

    footer{
        height: 10rem;
       
    }

    footer i{
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer p{
        font-size: 1.2rem;
        border: 0px solid red;
    }

    #slider-container{
        left: 30.3rem;
        top: 3.7rem;
        border: 0px solid blue;
        
    }
    #swiper-container{
        height: 53rem;
        width: 56.4rem;
        border: 0px solid red;
    }

    img{
        height: 50rem;
        width: 56.4rem;
    }

}

/* OMAR'S SPECIAL */
@media (max-height: 750px ){
    #swiper-container{
        height: 35rem;
    }

    img{
        height: 33rem;
    }
}





