*{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.container p{
    font-size: 35px;
    color: #3E606F;
    
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 0px solid red;
    /* to make left and right sides near each other */
    margin: 11rem 20rem;
    transition: 0.5s;
    
}

.container a{ 
    text-decoration: none;
    border-radius: 15%;
    background-color: #EFF4F4;
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container a:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}



 footer i{
     margin-top: 30px;
     margin-left: 20px;
     margin-right: 20px;
     font-size: 30px;
     color: #193441;
     
 }

 footer i:hover{
     color: #EFF4F4;
 }


 footer{
    background-color: #3E606F;
    height: 110px;
    border: 0px solid green;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}




footer p{
    color: #EFF4F4;
    margin-top: 25px;
    align-self: flex-end;
}



body{
    margin: 0;
    padding: 0;
    background-color: #EFF4F4;
}

nav{
    margin-right: 3rem;
}

nav ul{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    margin: 1rem 30rem 0 30rem;
    padding-bottom: 0.5rem;

}
nav li{
    list-style-type: none;
    margin: 0 3rem;
    color: #3E606F;
    transition: 0.6s;
}

nav li:hover{
    text-shadow:
    0 1px 0px #193441,
    1px 0 0px #193441;
    transition: 0.6s;
}

nav a{
    text-decoration: none;

}

nav a:visited{
    color: #3E606F;
}

#swiper-container{
    height: 35rem;
    width: 32.6rem;
    visibility: hidden;
    transition: 0.5s;
    border: 0px solid red;
    margin: 0; 
    top: 0;  
}




.slider-container{
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 30.2rem;
    visibility: hidden;
    transition: 0.5s;
    
}

img{
    height: 32rem;
    width: 34rem;
}


/* MEDIA SECTION */


/* 1366 x 768 screen */
@media (min-width: 1300px) and (max-width: 1366px){
    #slider-container{
        left: 25rem;
        
    }
    #swiper-container{
        height: 37rem;
    }

    img{
        height: 35rem;
    }

    nav ul{
        margin-left: 24.8rem;
        margin-right: 24.65rem;
    }
    
}



/* 1920 x 1080 screens */
@media (min-width: 1900px) and (max-width:1920px){
    .container{
        margin: 4rem 20rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        border: 0px solid red;
    }

    .container a{
        height: 300px;
        width: 300px;
        border-width: 3px;
    }

    nav a{
        font-size: 1.5rem;
    }

    .container p{
        font-size: 3rem;
    }

    footer{
        height: 10rem;
       
    }

    footer i{
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer p{
        font-size: 1.2rem;
        border: 0px solid red;
    }

    #slider-container{
        left: 30.3rem;
        top: 3.7rem;
        border: 0px solid blue;
        
    }
    #swiper-container{
        height: 53rem;
        width: 56.4rem;
        border: 0px solid red;
    }

    img{
        height: 50rem;
        width: 56.4rem;
    }

}

/* OMAR'S SPECIAL */
@media (max-height: 750px ){
    #swiper-container{
        height: 35rem;
    }

    img{
        height: 33rem;
    }
}
/*SPECIAL*/
@media (max-height: 700px){
    #swiper-container{
        height: 32rem;
    }

    img{
        height: 30rem;
    }
}

@media (max-height: 660px){
    #swiper-container{
        height: 30rem;
    }

    img{
        height: 28rem;
    }

}

/* 1280 x 800 */
@media (max-width: 1280px){
    #slider-container{
        left: 23rem;
        
    }
    #swiper-container{
        height: 37rem;
        
    }

    img{
        height: 35rem;
    }

    nav ul{
        margin-left: 22.8rem;
        margin-right: 20.7rem;
    }

    
}
/* 1280 x 600 */
@media (max-width: 1280px) and (max-height: 600px){
    #slider-container{
        left: 23rem;
        
    }
    #swiper-container{
        height: 24rem;
        width: 33rem;
    }

    img{
        height: 24rem;
        width: 33rem;
    }
}

/* IPHONE 6/7/8 SCREEN */
@media (max-width:375px) and (max-height: 667px){
    
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 32.5rem;
        width: 23.4rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 24rem;
        height: 30rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    
}

/* my phone screen */
@media (max-width: 375px) and (max-height: 630px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 29.5rem;
        width: 23.4rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 24rem;
        height: 28rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;
        
        
       

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }
}

/* iphone 6/7/8 PLUS */
@media (max-width: 414px) and (min-height: 736px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 35.5rem;
        width: 25.9rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 25.9rem;
        height: 34rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 20px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 250px;
        width: 250px;
    }

    .container p{
        font-size: 40px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}
 /* IPAD screen */
@media  (max-width: 768px) and (min-height: 1024px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 54.5rem;
        width: 48.1rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 48.9rem;
        height: 52rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 25px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 4rem;
        margin-right: 5rem;
        margin-left: 13rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 350px;
        width: 350px;

    }

    .container p{
        font-size: 55px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}

/*PIXEL SCREEN */
@media (max-width: 411px) and (max-height: 731px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 35.5rem;
        width: 25.75rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 25.9rem;
        height: 34rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 20px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 250px;
        width: 250px;
    }

    .container p{
        font-size: 40px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}

