*{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.container p{
    font-size: 35px;
    color: #3E606F;
    
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 0px solid red;
    /* to make left and right sides near each other */
    margin: 11rem 20rem;
}

.container a{ 
    text-decoration: none;
    border-radius: 15%;
    background-color: #EFF4F4;
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container a:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}



 footer i{
     margin-top: 30px;
     margin-left: 20px;
     margin-right: 20px;
     font-size: 30px;
     color: #193441
     /*#EFF4F48*/
 }

 footer i:hover{
     color: #EFF4F4;
 }


 footer{
    background-color: #3E606F;
    height: 110px;
    border: 0px solid green;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}




footer p{
    color: #EFF4F4;
    margin-top: 25px;
    align-self: flex-end;
}



body{
    margin: 0;
    padding: 0;
    background-color: #EFF4F4;
}

