html{
    box-sizing: border-box;
    }
    
    *, *::before, *::after{
    box-sizing: inherit;
    }

*{
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
    box-sizing: border-box;
}

.container p{
    font-size: 45px;
    color: #304f5c;
    
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 0px solid red;
    margin: 11rem 20rem;
    margin-top: 8rem;
    transition: 0.5s;
    
}


.container a{ 
    text-decoration: none;
    border-radius: 15%;
    background-color: #7d898e;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    animation-name: menuContainersAnimation;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes menuContainersAnimation{
    from{
        
        opacity: 0;
    }

    to{
        visibility: visible;
        opacity: 1;
    }
}

.container a:hover{
    background-color: #aab9bf;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px rgba(253, 253, 253, 0.75);
    transition: 0.5s;
}



@keyframes disapperAnimation{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        pointer-events: none;
    }
}


@keyframes notDisapper{
    

    to{
        margin-left: 31%;
        
    }
}


@keyframes notDisapperReverse{
    

    to{
        margin-right: 31%;
        
    }
}


#Projects{
    animation-fill-mode: forwards;
}

#Resume{
    
    animation-fill-mode: forwards;
}



 footer i{
     margin-top: 30px; 
     margin-left: 30px;
     margin-right: 20px;
     font-size: 35px;
     color: #193441;
     transition: 0.5s;
     
 }

 footer i:hover{
     color: #EFF4F4 !important;
     transition: 0.5s;
     text-shadow: 0 0 15px rgba(253, 253, 253, 0.75), 0 0 10px rgba(253, 253, 253, 0.75);
 }


 footer{
    background-color: #3E606F;
    height: 110px;
    border: 0px solid green;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    animation-name: footerAnimation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    
}

@keyframes footerAnimation{
    from{
        height: 110px;
    }

    to{
        height: 0px;
    }
}

@keyframes reverse{
    from{
        height: 0px;
    }

    to{
        height: 110px;
    }
}


footer p{
    color: #EFF4F4;
    margin-top: 4px;
    align-self: flex-end;
}



body{
    margin: 0;
    padding: 0;
    background-color: rgb(48, 79, 92);
    transition: 0.5s;
}



nav ul{
    display: flex;
    border: 0px solid grey;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-color:  #3E606F;
    height: 70px;
    animation-name: navbarAnimation;
    animation-duration: 1s;
    
    
}

@keyframes navbarAnimation{
    from{
        height: 0px;
    }

    to{
        height: 70px;
    }
}

span{
    color: #193441;
    font-weight: 10;
    transition: 0.5s;
    font-size: 20px;
    animation-name: navbarTextAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes navbarTextAnimation{
    from{
        font-size: 0px;
    }

    to{
        font-size: 20px;
    }

    
}

span:hover{
    color: #EFF4F4;
    text-shadow: 0 0 15px rgba(253, 253, 253, 0.75), 0 0 10px rgba(253, 253, 253, 0.75);
    transition: 0.5s;
}

nav li {
    border: 0px solid red;
    list-style-type: none;
    margin: 1rem 2rem;
    color: #3E606F;
    transition: 0.6s;
    
    
}


nav a{
    text-decoration: none;

}

nav a:visited{
    color: #3E606F;
}

nav{
    border: 0px solid red;
    display: flex;
    justify-content: center;
    margin: 0 29rem;
    padding: 0;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-color:  #3E606F;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    height: 70px;
    animation-name: navbarAnimation;
    animation-duration: 1s;
}

.a-side-settings{
    position: absolute;
    top: 0;
    margin-left: 93%;
    margin-top: 0;
    padding : 0;
    padding-top: 0.4rem;
    border: 0px solid red;
}

.fas, .fas:visited{
    font-size: 1.5rem;
    color: #193441;
    margin-left: 1px;
    border: 0px solid blue;
    padding: 10px;
    transition: 0.5s;
}

.fas:hover{
    transition: 0.5s;
    color: white;
    text-shadow: 0 0 15px rgba(253, 253, 253, 0.75), 0 0 10px rgba(253, 253, 253, 0.75);
}


html{
    height: 100%;
}

body{
    height: 100%;
}

.grid{
    position: absolute;
    left: 0rem;
    top: 6rem;
    bottom: 50%;
    opacity: 0;
    pointer-events: none;
    grid-gap: 15px;
    display: grid;
    grid-template-columns: 5px 290px 50px 450px 250px 50px 335px;
    grid-template-rows: 300px 300px 300px 300px 300px 200px;
    grid-template-areas: 
    ". image1 image2 image2 image5 image5 image8"
    ". image3 image3 image4 image6 image7 image7" ;
    
}

#image1{
    grid-area: image1;
    height:0%;
    width: 0%;  
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; 
    
}

/* images animation */
@keyframes image{
    from{
        height:0%;
        width: 0%;
        
    }

    to{
        height:100%;
        width: 100%; 
    }
}

#image2{
    grid-area: image2;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}


#image3{
    grid-area: image3;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


#image4{
    grid-area: image4;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

#image5{
    grid-area: image5;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

}

#image6{
    grid-area: image6;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

#image7{
    grid-area: image7;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

}

#image8{
    grid-area: image8;
    height: 0%;
    width: 0%;
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;

}



img{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
    filter: brightness(0.5) grayscale(1);
}

img:hover{
    filter: brightness(1) grayscale(0);
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px rgba(253, 253, 253, 0.75);

}




/* MEDIA SECTION */


/* 1366 x 768 screen */
@media (min-width: 1300px) and (max-width: 1366px){
    #slider-container{
        left: 25rem;
        
    }
    #swiper-container{
        height: 37rem;
    }

    img{
        height: 35rem;
    }

    nav ul{
        margin-left: 24.8rem;
        margin-right: 24.65rem;
    }
    
}



/* 1920 x 1080 screens */
@media (min-width: 1900px) and (max-width:1920px){
    .container{
        margin: 4rem 20rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        border: 0px solid red;
    }

    .container a{
        height: 300px;
        width: 300px;
        border-width: 3px;
    }

    nav a{
        font-size: 1.5rem;
    }

    .container p{
        font-size: 3rem;
    }

    footer{
        height: 10rem;
       
    }

    footer i{
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer p{
        font-size: 1.2rem;
        border: 0px solid red;
    }

    #slider-container{
        left: 30.3rem;
        top: 3.7rem;
        border: 0px solid blue;
        
    }
    #swiper-container{
        height: 53rem;
        width: 56.4rem;
        border: 0px solid red;
    }

    img{
        height: 50rem;
        width: 56.4rem;
    }

}

/* OMAR'S SPECIAL */
@media (max-height: 750px ){
    #swiper-container{
        height: 35rem;
    }

    img{
        height: 33rem;
    }
}
/*SPECIAL*/
@media (max-height: 700px){
    #swiper-container{
        height: 32rem;
    }

    img{
        height: 30rem;
    }
}

@media (max-height: 660px){
    #swiper-container{
        height: 31rem;
    }

    img{
        height: 28rem;
    }

}

/* 1280 x 800 */
@media (max-width: 1280px){
    #slider-container{
        left: 23rem;
        
    }
    #swiper-container{
        height: 37rem;
        
    }

    img{
        height: 35rem;
    }

    nav ul{
        margin-left: 22.8rem;
        margin-right: 20.7rem;
    }

    
}
/* 1280 x 600 */
@media (max-width: 1280px) and (max-height: 600px){
    #slider-container{
        left: 23rem;
        
    }
    #swiper-container{
        height: 24rem;
        width: 33rem;
    }

    img{
        height: 24rem;
        width: 33rem;
    }
}

/* IPHONE 6/7/8 SCREEN */
@media (max-width:375px) and (max-height: 667px){
    
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 32.5rem;
        width: 23.4rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 24rem;
        height: 30rem;
    }

    nav {
        padding: 0;
        
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;
        

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    
}

/* my phone screen */
@media (max-width: 375px) and (max-height: 630px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 29.5rem;
        width: 23.4rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 24rem;
        height: 28rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;
        
        
       

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }
}

/* iphone 6/7/8 PLUS */
@media (max-width: 414px) and (min-height: 736px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 35.5rem;
        width: 25.9rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 25.9rem;
        height: 34rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 20px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 250px;
        width: 250px;
    }

    .container p{
        font-size: 40px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}
 /* IPAD screen */
@media  (max-width: 768px) and (min-height: 1024px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 54.5rem;
        width: 48.1rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 48.9rem;
        height: 52rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 25px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 4rem;
        margin-right: 5rem;
        margin-left: 13rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 350px;
        width: 350px;

    }

    .container p{
        font-size: 55px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}

/*PIXEL SCREEN */
@media (max-width: 411px) and (max-height: 731px){
    body{
        margin: 0;
        padding: 0;
    }
    
    #swiper-container{
        height: 35.5rem;
        width: 25.75rem;
        border: 0px solid red;
    }
    
    #slider-container{
        top: 2.5rem;
        left: 0px;
        border: 0px solid blue;
    }

    img{
        width: 25.9rem;
        height: 34rem;
    }

    nav {
        padding: 0;
        
    }

    nav a{
        padding: 0;
        margin: 0;
        border: 0px solid green;
        margin-left: -2rem;
        font-size: 20px;
        
    }

    nav ul{
        margin: 0;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-left: 2rem;

    }

    .container{
        display: block;
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 0;
        
        border: 0px solid red;
    }
    
    .container a{
        margin-bottom: 1.5rem;
        height: 250px;
        width: 250px;
    }

    .container p{
        font-size: 40px;
    }

    body{
        position: relative;
        margin-top: 1rem;
        
    }
    
    footer{
        position: fixed;
        height: 100px;
    }

    footer i{
        margin-top: 1rem;
        font-size: 35px;
    }
}

