@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400&display=swap');

html{
  box-sizing: border-box;
  }
  
  *, *::before, *::after{
  box-sizing: inherit;
  }

*{
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: bold;
  box-sizing: border-box;
}

.app{
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.app, body{
  margin: 0;
  padding: 0;
  background-color: rgb(48, 79, 92);
  
}


.app__containers{
  flex-grow: 1;
}

