html{
  box-sizing: border-box;
  }
  
  *, *::before, *::after{
  box-sizing: inherit;
  }

*{
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: bold;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(48, 79, 92);
  transition: 0.5s;
}