footer a{
    margin-left: 30px;
    margin-right: 20px;
    font-size: 40px;
    color: #193441;
    transition: 0.5s;

}

.footer__iconsContainer{
    border: 0px solid red;
}

footer a:hover{
    color: #EFF4F4 !important;
    transition: 0.5s;
    text-shadow: 0 0 15px rgba(253, 253, 253, 0.75), 0 0 10px rgba(253, 253, 253, 0.75);
}


@keyframes footerAnimation{
    from{
        transform: translate3d(0, 0, 0);
    }
 
    to{
        transform: translate3d(0, 100%, 0);
    }
 }
 
 @keyframes reverse{
    from{
        transform: translate3d(0, 100%, 0);
    }
 
    to{
        transform: translate3d(0, 0, 0);
    }
 }


footer{
   background-color: #3E606F;
   border: 0px solid green;
   text-align: center;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
   animation-name: footerAnimation;
   animation-fill-mode: forwards;
   animation-duration: 0.5s;
   display: flex;
   flex-direction: column;
   padding: 10px;
}


footer p{
   color: #EFF4F4;
   margin: 0;
}