footer a{
    margin-left: 30px;
    margin-right: 20px;
    font-size: 40px;
    color: #193441;
    transition: 0.5s;

}

.footer__iconsContainer{
    border: 0px solid red;
    margin-top: 3vh;
}

footer a:hover{
    color: #EFF4F4 !important;
    transition: 0.5s;
    text-shadow: 0 0 15px rgba(253, 253, 253, 0.75), 0 0 10px rgba(253, 253, 253, 0.75);
}


footer{
   background-color: #3E606F;
   height: 15vh;
   border: 0px solid green;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   text-align: center;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
   animation-name: footerAnimation;
   animation-fill-mode: forwards;
   animation-duration: 0.5s;
   animation-play-state: paused;
   
}

@keyframes footerAnimation{
   from{
       transform: translate3d(0, 0, 0);
   }

   to{
       transform: translate3d(0, 100%, 0);
   }
}

@keyframes reverse{
   from{
       transform: translate3d(0, 100%, 0);
   }

   to{
       transform: translate3d(0, 0, 0);
   }
}


footer p{
   color: #EFF4F4;
   margin-top: -3vh;
}